#backToTop {
  display: none;
  position: fixed;
  bottom: 100px; /* the larger, more away from bottom */
  right: 80px; /* the larger, more central; if 30px -> right corner */
  z-index: 9999;
  background-color: #336699; /* #336699 is dark blue */ /* #444 is gray */
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

#backToTop:hover {
  background-color: #222;
}

.document {
    overflow: hidden;
}
.body {
    max-width: none !important;
    width: 95% !important;
    padding-bottom: 0 !important;
}/* adjust parent container */